.App{
    overflow-x: hidden;
    background-color: #EAF2F6;
}
.Navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 45px;
    background-color: #FBFBFC;
    border-bottom: 1px solid hsl(220, 15%, 88%);
}
.Navbar h1{
    font-size: 22px;
}




